{% extends "base.html.twig" %}

{% block title %}
	{{ univ.name }}
{% endblock %}

{% block main %}
	<h1>{{ univ.name }}</h1>
	<p>Langue :
		{{ univ.language }}.</p>
	<p>Places disponibles :
		{{ univ.availablePlaces }}.</p>
	<p>{{ univ.favorites }}
		personnes ont aimés cette destination.</p>
{% endblock %}
