{% extends "base.html.twig" %}
{# Style de cette page présent dans style.scss #}
{% block title %}
	{{ univ.name }}
{% endblock %}

{% block main %}
	<img id="headimage" class="headimage" src="{{ asset('images/test.jpg') }}" alt="Head image">
	<div class="univHead">
		<div>
			<img src=" {{ univ.univCity.cityCountry.flag }} " class="country" alt="pays">
			<h1 class="UnivName">{{ univ.name }}</h1>
			<a class="addFavs" id="univ{{univ.id}}" onclick="toggleFav(this,{{univ.id}})" style="margin: 0px!important">
				<i class="far fa-heart"></i>
			</a>
		</div>

		<div>
			<p>Erasmus
				{{ univ.language }}</p>
			<p><span class="js-nb-likes-{{ univ.id }}">
							{{ univ.FavNb }}
						</span>
				favs</p>
		</div>
	</div>

	<div class="destBody">
		<section class="destMain">
			<div class="destBoxStyle2">
				<h2>L'université</h2>
				<body>
					<section>
						<h3>Prérequis</h3>
						<p>Aucun Prérequis pour cette destination</p>
					</section>
					<table>
						<h3>Matières</h3>

						{% for subjects in subjectsList %}
						
							<tr>
								<td>{{subjects.getName}}</td>
								<td>{{subjects.getHoursPerWeek}} heures</td>
								<td>{{subjects.getCredits}} ECTS</td>
							</tr>
						
					{% endfor %}
						
					</table>
				</body>
			</div>
			<br/>
			<div class="destBoxStyle">
				<h2>Commentaires sur la destination</h2>

				<section>
					<p>Ceci est un commentaire</p>
					<div class="authorComment">
						<div class="cercle"><span>NH</span></div>
						<span>Nicolas Heudron</span>
						<span class="date"><i class="fas fa-calendar-week"></i> 18/04/2020</span>
					</div>
				</section>

				<div id="addCommentBox" class="addCommentBox">
					<form>
						<input type="text" class="text" placeholder="Votre Commentaire"></input>
						<button type="submit" >Commenter</button>
					</form>
				</div>
			</div>

			<a href="#addCommentBox" class="addQuestion">
				<div class="addQuestionButton">
						<p>+</p>
				</div>Ajouter un commentaire
			</a>

			

			<br/>

			<div class="destBoxStyle">
				<h2>Les questions</h2>
				
				<section>
					<p>Ceci est une question ?</p>
					<div class="authorComment">
						<div class="cercle">NH</div>
						<span>Nicolas Heudron</span>
						<span class="date"><i class="fas fa-calendar-week"></i> 18/04/2020</span>
					</div>
				</section>

				<div id="addCommentBox" class="addCommentBox">
					<form>
						<input type="text" class="text" placeholder="Votre question"></input>
						<button type="submit" >Poster</button>
					</form>
				</div>
			</div>
			
			<a href="#" class="addQuestion">
				<div class="addQuestionButton">
					<p>+</p>
				</div>Ajouter une question</a>
		</section>
		<section class="destColumn">
			<!--<div class="date">
				<p>Période</p>
				<form>
					<select class="custom-select">
						<option>2021</option>
					</select>
				</form>
			</div>-->
			<div class="destBoxStyle">
				<h4>Les étudiants déjà partis</h4>
				<div class="scrollY">
					<div><div class="cercle">NH</div><span>Nicolas Heudron</span><span>(2020)</span></div>
				</div>
			</div>
			<div class="destBoxStyle">
				<h4>Destination ajoutées aux favoris par</h4>
				<div class="scrollY">
					{% for user in usersFav %}
						<div><div class="cercle user{{user.id}} ">
							<span>
							<script> 
								document.write("{{ user.getFirstName }}".substr(0, 1));
								document.write("{{ user.lastName }}".substr(0, 1))
							</script>
							</span>
						</div><span>{{ user.getFirstName }} {{ user.lastName }}</span></div>
						
						
					{% endfor %}
				</div>
			</div>
			<div class="destBoxStyle">
				<h4>Modifier l'image d'en-tête</h4>
				<div class="image">
					<br />
					<button>Importer une nouvelle image</button>
					<p>Celle-ci écrasera l'ancienne</p>
				</div>
			</div>
		</section>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		window.onload = function () {
			// Fav
			checkFav();
		};
	</script>
	<script src="/js/fav.js"></script>
{% endblock %}
