{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/fav.css">
{% endblock %}

{% block title %}
	Mes favoris
{% endblock %}

{% block main %}
	<div class="title">
		<h2>Mes Favoris</h2>
	</div>
	{% if favorites|length == 0 %}
		<div class="nofav">
			<p>Il n'y a pas d'université favoris pour l'instant. Cliquer sur le coeur d'une université pour l'ajouter à vos favoris.</p>
		</div>
	{% else %}
		{% for univ in favorites %}
			<section class="destList">
				<div class="destination">
					<header>
						<a href="{{ path('dest', { 'univId': univ.id }) }}">
							<h4>
								<i class="fas fa-globe-europe"></i>
								{{ univ.name }}</h4>
						</a>
						<a class="addFavs" id="univ{{univ.id}}" onclick="toggleFav(this,{{univ.id}})">
							<i class="fas fa-heart"></i>
						</a>
					</header>
					<main>
						<p>Country:<span class="right">Language:
								{{ univ.language }}</span>
						</p>
						<p>City:<span class="right">Available places:
								{{ univ.availablePlaces }}</span>
						</p>
						<p>Formation:</p>
						<p>Maujeure:</p>
						<p>Lessons:</p>
					</main>
					<footer>
						<p>
							{{ univ.FavNb }}
							{% if univ.FavNb > 1 %}
								personnes ont ajoutées
							{% else %}
								personne a ajoutée
							{% endif %}
							cette destination aux favoris
						</p>
					</footer>
				</div>
			</section>
		{% endfor %}
	{% endif %}

{% endblock %}
{% block javascripts %}
	<script src="/js/fav.js"></script>
{% endblock %}
