{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/fav.css">
{% endblock %}

{% block title %}
	Mes favoris
{% endblock %}

{% block main %}
	<div class="title">
		<h2>Mes Favoris</h2>
	</div>
	{% if favorites|length == 0 %}
		<div class="nofav">
			<p>Il n'y a pas d'université favoris pour l'instant. Cliquer sur le coeur d'une université pour l'ajouter à vos favoris.</p>
		</div>
	{% else %}
		{% for univ in favorites %}
		<section class="destList">
			<div class="destination">
				<header>
					<a href="{{ path('dest', { 'univId': univ.id }) }}">
						<h4>
							<img src=" {{ univ.univCity.cityCountry.flag }} " class="flag">
							{{ univ.name }}</h4>
					</a>

					<a class="addFavs" id="univ{{univ.id}}" onclick="toggleFav(this,{{univ.id}})">
							<i class="fas fa-heart"></i>
						</a>
				</header>
				<main>
					<p>Country:
						{{ univ.univCity.cityCountry.name }}
						<span class="right">Language:
							{{ univ.language }}
						</span>
					</p>
					<p>City:
						{{ univ.univCity.name }}
					</p>
					<p>Filière : 
						{% set fil = [] %}
						{% for branch in univ.majors.values %}
							{% if not(branch.branch in fil) %}
								{% set fil = fil|merge([branch.branch]) %}
								<span>  {{ branch.branch }} </span>
							{% endif %}
						{% endfor %}
					</p>
					<p>Majeures :
						{% for major in univ.majors.values %} <span> {{ major.name }} </span> {% endfor %}
				
					</p>
					{#
					<p>Cours : 
						

						{% for cours in univ.subjects %}
							<span>{{ cours.name }} </span>
						{% endfor %}
					</p>#}
				</main>
				<footer>
					<p>
						<span class="js-nb-likes-{{ univ.id }}">
							{{ univ.FavNb }}
						</span>
						{% if univ.FavNb > 1 %}
							personnes ont ajouté
						{% else %}
							personne a ajouté
						{% endif %}
						cette destination aux favoris
					</p>
				</footer>
			</div>
		</section>
		{% endfor %}
	{% endif %}

{% endblock %}
{% block javascripts %}
	<script src="/js/fav.js"></script>
{% endblock %}
