{% extends "base.html.twig" %}

{% block title %}
	index
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
	<link rel="stylesheet" href="/css/map.css">
	<link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block main %}

	<div class="mapleftdescription">
		<div class="leftdescription">
			<h2>Bienvenue sur<br>Destination Erasmus,<br>la plateforme collaborative pour t'aider à choisir ta destination</h2>

			<div class="formulaireVoyage">
				<p>Tu es déjà partie en séjour Erasmus ?</p>
				<p>Viens ajouter des informations sur ta destination&nbsp:</p>
				<a href="/lastTrip">Indiquer mon dernier séjour</a>
			</div>

			<p>Voir la liste des destinations si dessous<br><a href="#searchDest">
					<i class="fas fa-arrow-down"></i>
				</a>
			</p>
		</div>

		<div id="map"></div>
	</div>

	<a class="anchor" id="searchDest"></a>
	<h2 class="filtersSection">Trouver une destination</h2>

	<div class="jumbotron"></div>

	<div class="filtresLines">
		<div class="filters">
			<form id="form">
				<i class="fas fa-sliders-h"></i>
				<select class="custom-select">
					<option value="irsep">IR & SEP</option>
					<option value="ir">IR</option>
					<option value="sep">SEP</option>
				</select>
				<select class="custom-select">
					<option value="default">LV1 & LV2</option>
					<option value="lv1">LV1</option>
					<option value="lv2e">LV2 Espagnol</option>
					<option value="lv2a">LV2 Allemand</option>
				</select>
				<select class="custom-select">
					<option selected="true">Toutes les majeures</option>
					{% for branch in branchList %}
						<option value="{{ branch.id }}">{{ branch.name }}</option>
					{% endfor %}
				</select>
				<button class="submitButton">Rechercher</button>
			</form>
		</div>
	</div>

	{% for univ in univPage %}
		<section class="destList">
			<div class="destination">
				<header>
					<a href="{{ path('dest', { 'univId': univ.id }) }}">
						<h4>
							<img src=" {{ univ.univCity.cityCountry.flag }} " class="flag">
							{{ univ.name }}</h4>
					</a>
					<a class="addFavs" id="univ{{univ.id}}" onclick="toggleFav(this,{{univ.id}})" {#href="{{ path('togglefav', { 'univId': univ.id }) }}"#}>

						<i class="far fa-heart"></i>
					</a>
				</header>
				<main>
					<p>Country: {{ univ.univCity.cityCountry.name }}<span class="right">Language:{{ univ.language }}</span></p>
					<p>City: {{ univ.univCity.name }}</p>
					<p>Filière : {% for branch in univ.majors.values %}{{ branch.branch }}{% endfor %}</p>
					<p>Majeures : {% for major in univ.majors.values %}{{ major.name }}{% endfor %}</p>
				</main>
				<footer>
					<p>
						<span class="js-nb-likes-{{ univ.id }}">
							{{ univ.FavNb }}
						</span>
						{% if univ.FavNb > 1 %}
							personnes ont ajouté
						{% else %}
							personne a ajouté
						{% endif %}
						cette destination aux favoris
					</p>
				</footer>

			</div>
		</section>
	{% endfor %}
	{{ knp_pagination_render(univPage) }}
{% endblock %}

{% block javascripts %}

	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>

	<script src="/js/map.js"></script>
	<script src="/js/fav.js"></script>
	<script src="/js/filters.js"></script>

	<script>
		//var univsJSON = JSON.parse({{univs}});
		//console.log(univsJSON);

		window.onload = function () { // map
			initMap();
			addUnivToMap();
			checkTicked();
			// Fav
			checkFav();
		};
	</script>
	<script>
		$(document).ready(function () {

			$("#submit").click(function() {

				$.post('connexion.php', { // Un script PHP que l'on va créer juste après
						username: $("#username").val(), // Nous récupérons la valeur de nos inputs que l'on fait passer à connexion.php
						password: $("#password").val()
					}, function (data) { // Cette fonction ne fait rien encore, nous la mettrons à jour plus tard

					}, 'text' // Nous souhaitons recevoir "Success" ou "Failed", donc on indique text !
				);
			});
		});
	</script>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js">/* script axios pour ajax */</script>
	<script>
		/* script ajax json pour la pagination*/
		function OnclickBtnPage(event) {
			const url = this.href;

			axios.get(url).then(function (response) {
				console.log(response);
			})
		}

		document.querySelectorAll('span.page a').forEach(function (link) {
			link.addEventListener('click', OnclickBtnPage);
		});
	</script>


	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="/js/scrolly.js"></script>
{% endblock %}
