{% extends "base.html.twig" %}

{% block title %}
	index
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
	<link rel="stylesheet" href="/css/map.css">
	<link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block main %}

	<div class="mapleftdescription">
		<div class="leftdescription">
			<h2>Bienvenue sur<br>Destination Erasmus,<br>la plateforme collaborative pour t'aider à choisir ta destination</h2>

			<div class="formulaireVoyage">
				<p>Tu es déjà partie en séjour Erasmus ?</p>
				<p>Viens ajouter des informations sur ta destination :</p>
				<script>
					console.log("lien à ajouter");
				</script>
				<a href="/">Indiquer mon dernier séjour</a>
			</div>

			<p>Voir la liste des destinations si dessous<br><i class="fas fa-arrow-down"></i>
			</p>
		</div>

		<div id="map"></div>
	</div>
	<section class="filtersSection">
		<h2>Trouver une destination</h2>
		<div class="filters">
			<div class="center">
				<form>
					<select>
						<option>IR & SEP</option>
						<option>IR</option>
						<option>SEP</option>
					</select>
					<select>
						<option>LV1 & LV2</option>
						<option>LV1</option>
						<option>LV2 Espagnol</option>
						<option>LV2 Allemand</option>
					</select>
					<select>
						<option>Majeures</option>
						<option>1</option>
						<option>1</option>
						<option>1</option>
					</select>
					<button>
						Rechercher
					</button>
				</form>
			</div>
		</div>

	</div>
</section>
{% for univ in model.univList %}
	<section class="destList">
		<div class="destination">
			<header>
				<a href="{{ path('dest', { 'univId': univ.id }) }}">
					<h4>{{ univ.name }}</h4>
				</a>
			</header>
			<main>
				<p>Country:
					<span>Langue :{{ univ.language }}</span>
				</p>
				<p>City:
					<span>Places disponibles :
						{{ univ.availablePlaces }}</span>
				</p>
				<p>Formation:
				</p>
				<p>Maujeure:
				</p>
				<p>Lessons:
				</p>
			</main>
			<footer>
				<p>{{ univ.favorites }}
					personnes ont ajoutées cette destination aux favoris</p>
			</footer>

		</div>
	</section>
{% endfor %}{% endblock %}{% block javascripts %}
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>

<script src="/js/map.js"></script>{% endblock %}
