{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/fav.css">
{% endblock %}

{% block title %}
	Mon dernier séjour
{% endblock %}

{% block main %}
	<div class="title">
		<h2>Selectionne ta dernière destination erasmus</h2>
		<br>
		<p>Les destinations affichées ci-dessous ne sont pas toutes proposées cette année</p>
	</div>

	{% for univ in univPage %}
		{% set contribution = false %}
		{% for contrib in user.univContributors.values %}
			{% if contrib.id == univ.id %}
				{% set contribution = true %}
			{% endif %}
		{% endfor %}
		<section class="destList">
			<div class="destination">
				{% if contribution == true %}
					<a href="{{ path('removeContrib', { 'univId': univ.id }) }}">
				{% else %}
					<a href="{{ path('addContrib', { 'univId': univ.id }) }}">
				{% endif %}
				<header>
					<h4><img src=" {{ univ.univCity.cityCountry.flag }} " class="flag">{{ univ.name }}</h4>
				</header>
				<main>
					<p>Country: {{ univ.univCity.cityCountry.name }}<span class="right">Language:{{ univ.language }}</span></p>
					<p>City: {{ univ.univCity.name }}</p>
					<p>Filière : {% for branch in univ.majors.values %}{{ branch.branch }}{% endfor %}</p>
					<p>Majeures : {% for major in univ.majors.values %}{{ major.name }}{% endfor %}</p>
				</main>
				<footer>
					{% if contribution == true %}
						<p>Appuyez pour retirer cette destination de votre liste</p>
					{% else %}
						<p>Appuyez pour ajouter cette destination à votre liste</p>
					{% endif %}
				</footer>
				</a>
			</div>
		</section>
	{% endfor %}
	{{ knp_pagination_render(univPage) }}
{% endblock %}
{% block javascripts %}
	<script src="/js/fav.js"></script>
{% endblock %}