{% extends "base.html.twig" %}

{% block title %}
	User -
	{{ user.firstName }}
	{{ user.lastName }}
{% endblock %}

{% block main %}
	<p>Vous êtes
		{{ user.getFirstName }}
		{{ user.lastName }}</p>
	<p>Votre mail est
		{{ user.getUsername }}</p>
{% endblock %}
