<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/main.css') }}">
		<script src="https://kit.fontawesome.com/10a40eb87c.js" crossorigin="anonymous"></script>
		<link rel="icon" href="{{ asset('images/favicon.png') }}"/>
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark colord3">
			<a class="navbar-brand" href="/"><img src="{{ asset('images/favicon.png') }}">
				Destination Erasmus</a>
			<section class="menu">
				<a href="">
					<svg class="logoCoeur" viewbox="859 -1415 40 38.35">
						<path id="logoCoeur" d="M 879.0001831054688 -1376.64990234375 L 876.1001586914063 -1379.408447265625 C 865.8003540039063 -1389.168701171875 859.0001831054688 -1395.60546875 859.0001831054688 -1403.50537109375 C 859.0001831054688 -1409.9423828125 863.8400268554688 -1415 870.0000610351563 -1415 C 873.4801635742188 -1415 876.8201293945313 -1413.306884765625 879.0001831054688 -1410.632080078125 C 881.1801147460938 -1413.306884765625 884.5202026367188 -1415 888.0001831054688 -1415 C 894.1602172851563 -1415 899.0001831054688 -1409.9423828125 899.0001831054688 -1403.50537109375 C 899.0001831054688 -1395.60546875 892.2000122070313 -1389.168701171875 881.9002075195313 -1379.3876953125 L 879.0001831054688 -1376.64990234375 Z"></path>
					</svg>
				</a>
				<a href="{{ path('userPage') }}">
					<svg class="logoProfil" viewbox="911.899 0 50 50">
						<path id="logoProfil" d="M 936.8994750976563 43 C 930.6494750976563 43 925.1493530273438 39.74999618530273 921.8994750976563 35.00000762939453 C 921.8994750976563 30.0000057220459 931.8994750976563 27.2500057220459 936.8994750976563 27.2500057220459 C 941.8992309570313 27.2500057220459 951.8994750976563 30.0000057220459 951.8994750976563 35.00000762939453 C 948.6494750976563 39.74999618530273 943.1494750976563 43 936.8994750976563 43 Z M 936.8994750976563 7.499999523162842 C 941.1495971679688 7.499999523162842 944.3994750976563 10.75 944.3994750976563 14.99999904632568 C 944.3994750976563 19.25 941.1495971679688 22.50000190734863 936.8994750976563 22.50000190734863 C 932.6494750976563 22.50000190734863 929.3992309570313 19.25 929.3992309570313 14.99999904632568 C 929.3992309570313 10.75 932.6494750976563 7.499999523162842 936.8994750976563 7.499999523162842 Z M 936.8994750976563 -3.238893100387941e-07 C 923.1492309570313 -3.238893100387941e-07 911.8994750976563 11.25000095367432 911.8994750976563 25.00000381469727 C 911.8994750976563 38.75000381469727 923.1492309570313 50.00000762939453 936.8994750976563 50.00000762939453 C 950.6494750976563 50.00000762939453 961.8994750976563 38.75000381469727 961.8994750976563 25.00000381469727 C 961.8994750976563 11.25000095367432 950.6494750976563 -3.238893100387941e-07 936.8994750976563 -3.238893100387941e-07 Z"></path>
					</svg>
				</a>
			</section>
		</nav>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
